.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  gap: 20px;
  height: 150px;
  background: linear-gradient(-45deg, #0a2351, #00bfff, #23a6d5, #23d5ab);
  animation: gradient 15s ease infinite;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-instagram {
  color: white;
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}
.fa-linkedin {
  color: white;
  background-color: #0077b5;
}
