.main-navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-logo {
  height: 40px;
  margin: 0.5rem 0rem 1rem 1rem;
}
.navbar-links-container {
  position: absolute;
  right: 0;
}

.navbar-links {
  margin-right: 10px;
}

.me-auto p {
  color: grey;
}

.login-link {
  display: inline-block;
  position: relative;
}

.login-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.login-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
