.btn-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3%;
  margin-bottom: 3%;
}

.card-body {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
}
