.form-container {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 2rem;
}
.main-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 2rem;
}

.main-form img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.main-form h2 {
  font-family: serif;
}
